@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

@font-face {
    font-family: "denton-bold";
    src: url("/font/denton-bold.woff") format("woff2"), url("/font/denton-bold.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    /* font-family: "Gilroy-Bold", sans-serif;
    font-family: "Gilroy-Heavy", sans-serif;
    font-family: "Gilroy-Light", sans-serif;
    font-family: "Gilroy-Medium", sans-serif;
    font-family: "Gilroy-Regular", sans-serif; */
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
}
.mob-video {
    display: none;
}
.footer-mob {
    display: none;
}
.mob-logo {
    display: none;
}
.web-logo {
    position: relative;
    z-index: 99;
}
.mob-menu {
    display: none;
}
.flip_mob {
    display: none;
}
/* ======================= Headings ============================= */
.head-1 {
    background: linear-gradient(170deg, rgb(0, 0, 0), rgb(85, 85, 85)) text;
    -webkit-text-fill-color: transparent;
    padding: 4px 0px;
    white-space: pre-wrap;
    font-family: "denton-bold";
    font-size: 88px;
    font-weight: 800;
    letter-spacing: -0.6px;
    line-height: 87px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* ================================== Header ================================== */
.eojfPz {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 70px 130px;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    z-index: 11;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    transition: top 0.5s;
}

.menu-container {
    position: relative;
}

/* Hamburger Button */
.menu-button {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    top: 0px;
    right: 20px;
    z-index: 1000;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-button span {
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

/* Hamburger to X Animation */
.menu-button.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.menu-button.open span:nth-child(2) {
    opacity: 0;
}
.menu-button.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Menu Styling */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto; /* Change to auto to only show scroll when needed */
}
body.menu-open {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

.menu.show {
    transform: translateY(0);
    padding: 50px 100px;
}

.menu ul {
    text-align: center;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.menu ul li a:hover {
    color: #ffcc00;
}

.ifdFUg {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 200px;
    gap: 30px;
}
.cELZbo {
    position: relative;
    overflow: hidden;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    cursor: pointer;
}
.fkxYSv {
    width: 100%;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    -webkit-box-align: end;
    align-items: end;
    padding: 0px 150px 0px 0px;
}

.fkxYSv {
    width: 100%;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    -webkit-box-align: end;
    align-items: end;
    padding: 0px 150px 0px 0px;
}

/* .cELZbo::after {
    opacity: 0;
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
    filter: blur(48.78px);
    transition: opacity 0.5s;
    background: radial-gradient(506.71% 128.77% at 24.44% 36.7%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 97.72%);
}
.iMEJMc::after {
    opacity: 0.6;
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
    transition: opacity 0.5s;
    background: radial-gradient(506.71% 128.77% at 24.44% 36.7%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 97.72%);
    filter: blur(48.78px);
} */

.sc-lzqbdr-3.cELZbo.menu-hover.active::after {
    opacity: 0.6;
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
    transition: opacity 0.5s;
    background: radial-gradient(506.71% 128.77% at 24.44% 36.7%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 97.72%);
    filter: blur(48.78px);
}
.fILBYT {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    animation: 2s ease 0s 1 normal none running fadein;
}
.TYhJo {
    position: relative;
    width: 100%;
}
.kvUgOR {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    cursor: pointer;
}
.erPHPG {
    position: absolute;
    top: -18px;
    left: 30px;
    padding: 5px 15px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(0, 0, 0);
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
}
.fERHzj {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    gap: 60px;
    margin-top: 5%;
}
.dlooAP {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.jWwyTn {
    width: 180px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.dnZKIO {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    -webkit-box-align: end;
    align-items: end;
    text-transform: uppercase;
    margin-top: 25px;
    height: 44px;
}
.foa-Dtc {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    -webkit-box-align: end;
    align-items: end;
    margin-top: 5px;
}
.tab-mar {
    margin-left: 150px;
}
.cELZbo:hover > .menu-text {
    color: white;
}
.eJuiXU {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.ioROUa {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: max-content;
    flex-basis: 33.3333%;
    margin-top: 40px;
    animation: 2s ease 0s 1 normal none running fadein;
    cursor: pointer;
}
.jLcmwh {
    width: 53px;
}
.hgQsWn {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}
.hAZRxv {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 6px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    -webkit-box-align: end;
    align-items: end;
    text-transform: uppercase;
}

/* ================================== Hero Section ================================ */
.hero-main {
    position: relative;
    top: -100px;
}
.header_mian {
    display: flex;
    position: absolute;
    top: 0px;
    /* padding: 70px 130px; */
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    z-index: 11;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    transition: top 0.5s;
}

.hero_inn {
    place-content: flex-start center;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    -webkit-box-pack: center;
    /* min-height: 100vh; */
    position: relative;
    z-index: 2;
}
.hero_inn video {
    display: block;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
}
.head-4 {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: initial;
    font-size: 17px;
    letter-spacing: 4px;
    line-height: 32px;
    text-transform: uppercase;
    color: rgb(108, 108, 108);
    white-space: pre-wrap;
}

/* ============================== MultiCard Section ============================= */

.mc-text {
    white-space: pre-wrap;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 20px;
    font-weight: initial;
    letter-spacing: 0.6px;
    line-height: 36px;
    opacity: 0.6;
    white-space: pre-line;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mt_main {
    width: 70%;
    margin: 0 auto;
}

/* =========================== Cards Steps ====================== */
.gGwbWp {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 125px;
    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.jDYudt {
    background-color: red;
    z-index: 2;
    position: absolute;
    top: -70vh;
    height: 3px;
}
.dYlzCk {
    background: linear-gradient(170deg, rgb(0, 0, 0), rgb(85, 85, 85)) text;
    -webkit-text-fill-color: transparent;
}
.fquCfu {
    font-family: "denton-bold";
    font-size: 67px;
    font-weight: 800;
    letter-spacing: -0.3px;
    line-height: 65px;
    text-align: left;
}
.hrudQH {
    margin-bottom: calc(40px);
}
.hHnUWF {
    display: flex;
    width: 100%;
}
.hHnUWF > div {
    flex-shrink: 0;
    margin-right: 20px;
    width: 32%;
}
.gGwbWp {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 125px;
    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.edROEC {
    user-select: none;
    width: 100%;
    object-fit: cover;
}
.hdDaEA {
    margin-bottom: calc(15px);
}
.hpTdVv {
    display: flex;
    align-items: flex-start;
}
.fBRsjM {
    width: 32px;
    height: 32px;
}
.lbxDUD {
    margin-left: 10px;
    text-align: left;
}
.kkVKoh {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 15px;
    font-weight: initial;
    letter-spacing: 2.15px;
    line-height: 28px;
}
.buBswu {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 15px;
    font-weight: initial;
    letter-spacing: 0.5px;
    line-height: 28px;
    opacity: 0.6;
}

video {
    width: 100%;
}
/* =========================== Footer ====================== */
.lmRyKu {
    position: relative;
}
.bWjfBc {
    background-color: black;
    z-index: 0;
    position: absolute;
    top: -100vh;
}
.Ymtsx {
    position: relative;
    max-width: 100vw;
}
.frgvIX {
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
}
.heKDan {
    z-index: 9;
}
.heKDan {
    z-index: 9;
}
.footer_main {
    background: #000000;
    padding: 10px 0;
}
.f-logo img {
    width: 100px;
}
/* .canvas1{
  position: relative;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
} */
.mc-main {
    position: relative;
    z-index: 9;
}
.cAWijL {
    position: relative;
    overflow: hidden;
}
.inSzCt {
    background-color: black;
    z-index: 0;
    position: absolute;
    top: -100vh;
}
.Ymtsx {
    position: relative;
    max-width: 100vw;
}
.frgvIX {
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
}
.hLGQiM {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
}
.cSektw {
    font-family: gilroy-bold;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 6px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}
.hOXrWh {
    font-family: gilroy-regular;
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}
.hIVSUW {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.gmVWof {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.fr-cols {
    width: 100%;
    display: flex;
    flex: 0 1 33.33%;
    gap: 25px;
}
.hWCCxT {
    display: flex;
    column-gap: 40px;
}
.iMXKCx {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.dtEhqm {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.eeTlTA {
    width: 100%;
    display: flex;
    flex: 0 1 33.33%;
    gap: 25px;
}
.biUoey {
    margin-top: auto;
    margin-bottom: 20px;
    width: 310px;
}
.dDPGkn {
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 20px;
    font-style: normal;
    font-family: "Gilroy-Regular", sans-serif;
    font-weight: 600;
    line-height: 31.5px;
    letter-spacing: 0.8px;
}
.dshbKH {
    padding-top: 50px;
    max-width: 500px;
    font-family: "Gilroy-Regular", sans-serif;
    color: rgb(255, 255, 255);
    opacity: 0.3;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.2px;
}
.hXmhLb {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    padding-top: 50px;
}
.dTTmuO {
    border-top: 1px solid rgb(255, 255, 255);
    opacity: 0.2;
    width: 100%;
    margin: auto;
}
.edGIvt {
    display: flex;
    width: 100%;
}
.hASeTI {
    width: 100%;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: start;
    color: rgb(255, 255, 255);
    opacity: 0.25;
}
.eEBJKd {
    width: 100%;
    text-align: end;
}
.ItEkq:first-child {
    padding: 0px 15px 0px 0px;
}
.ItEkq {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 20px;
    width: 100%;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: end;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    opacity: 0.3;
    padding: 0px 15px;
    border-right: 1px solid rgb(246, 246, 246);
}
.ItEkq:last-child {
    border-right: none;
}
.kZYrTa {
    width: 100%;
    position: relative;
}
.fGWPNN {
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(0, 0, 0);
    font-family: "Gilroy-Regular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    top: -11px;
    left: 125px;
    padding: 5px 10px;
    font-size: 7.486px;
    font-style: normal;
    font-weight: 700;
    line-height: 12.833px;
    letter-spacing: 2.139px;
}
.mob-flip {
    height: 60%;
}
/* Data Protect */
.kkfHeq {
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 100vw;
}
.bTEqWy {
    display: flex;
    padding: 125px 125px 0 125px;
}
.mshjJ {
    position: absolute;
    width: 85%;
    background: rgb(207, 207, 207);
    height: 2px;
}
.VzfKH {
    margin-top: 50px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    text-align: center;
}
.kQQkFl {
    width: 60%;
    text-align: left;
}
.jidhBR {
    width: 70px;
    height: 70px;
}
.ghNafr {
    margin-bottom: calc(20px);
}
.bWosiJ {
    font-family: "denton-bold";
    font-size: 76px;
    letter-spacing: -0.4px;
    line-height: 70px;
    max-width: 70%;
}
.hTFIyf {
    background: linear-gradient(170deg, rgb(0, 0, 0), rgb(85, 85, 85)) text;
    -webkit-text-fill-color: transparent;
}
.uyHJB {
    width: 40%;
    text-align: left;
}
.eLnQK {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 20px;
    font-weight: initial;
    letter-spacing: 0.6px;
    line-height: 36px;
    opacity: 0.6;
    white-space: pre-line;
}
.eLnQK {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 20px;
    font-weight: initial;
    letter-spacing: 0.6px;
    line-height: 36px;
    opacity: 0.6;
    white-space: pre-line;
}
/* Downlaod Cred */

.ialzGb {
    max-width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6.96986px);
    padding: 20px 25px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 20px 25px 20px 20px;
}
.eLznSh {
    width: 80px;
}
.gEftKE {
    width: 100%;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.382px;
    text-align: center;
    color: #000000;
    opacity: 0.9;
    margin-left: 20px;
}
.iQNnrD {
    display: block;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
    left: 0px;
    top: 0px;
    position: initial;
    visibility: visible;
}
.fqHnOB {
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    pointer-events: auto;
    top: 30%;
    left: 0;
}
.kSMium {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 26%;
}
.sc-1pisk27-2.ibYucQ {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
}
.mob-download {
    display: none;
}
/* Footer FAQ Section */
.faqs_main .accordion-button {
    font-family: "Gilroy-Regular", sans-serif;
    cursor: pointer;
    height: 20vh;
    font-size: 30px !important;
    font-weight: 500 !important;
    line-height: 39.33px;
    letter-spacing: 8.4px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    background: #000000;
}
.faqs_main .accordion-button:not(.collapsed) {
    background: #000000 !important;
    border: none !important;
    border-radius: 0 !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.faqs_main .accordion-button:not(.collapsed):after {
    background-image: url("/assets/arrow-up.svg") !important;
}
.faqs_main .accordion-button:after {
    background-image: url("/assets/arrow-donw.svg") !important;
}
.faqs_main .accordion-button:not(.collapsed) {
    color: #ffffff !important;
    border-radius: 0 !important;
}
.faqs_main .accordion-body {
    background: #000000 !important;
}
.ekFkoD {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 31px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgb(255, 255, 255);
}
.ccXGfa {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.2px;
    text-align: left;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-top: 60px;
    padding: 0 0 35px 0;
}
.faqs_main {
    border-bottom: 1px solid #ffffff;
}
.faq_fi {
    padding: 14px 40px 15px 40px;
}
.faqs_main .accordion-header:first-child {
    border-top: none !important;
}
.faqs_main .accordion-item {
    border: none;
}
.foot_inn {
    padding: 50px 0 0 0;
}
/* ====================================================================================================
Media Quries
==================================================================================================== */

@media only screen and (max-width: 1440px) {
    .kSMium {
        top: 18%;
    }
}
@media only screen and (max-width: 1024px) {
    .mob-menu {
        display: block;
        width: 100%;
        padding-top: 200px;
    }
    .web-menu {
        display: none;
    }
    .flip_mob {
        display: block;
    }
    .flip_web {
        display: none;
    }
    .f-logo img {
        width: 60px;
    }
    .footer-web {
        display: none;
    }
    .footer-mob {
        display: block;
    }
    .web-logo {
        display: none;
    }
    .mob-logo {
        display: block;
    }
    .kBIxEK {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(14px);
        padding: 10px;
        position: relative;
        z-index: 99;
    }
    .menu-button {
        width: 65px;
        height: 65px;
        margin-left: 36px;
    }
    .header_mian {
        padding: 22px 30px;
    }
    .mt_main {
        width: 80%;
    }
    .head-1 {
        font-size: 60px;
        line-height: 60px;
    }
    .head-4 {
        font-size: 14px;
    }
    .mc-text {
        font-size: 16px;
        line-height: 26px;
    }
    .gGwbWp {
        padding: 60px;
    }
    .fquCfu {
        font-size: 50px;
        line-height: 44px;
    }
    .hHnUWF {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .hHnUWF > div {
        width: 323px;
    }
    .edROEC {
        width: 323px;
        max-height: 466px;
    }
    .kkVKoh {
        font-size: 15px;
        letter-spacing: 1.58px;
        line-height: 27px;
    }
    .footer-mob {
        padding: 30px;
    }
    .gpkda-d {
        display: flex;
        flex-direction: column;
        row-gap: 70px;
    }
    .dDtJaW {
        width: 70px;
    }
    .accordion-item {
        border-color: #212122 !important;
    }
    .accordion-button {
        padding: 2rem 1.25rem;
    }
    .accordion-header:first-child {
        border-top: 1px solid #212122 !important;
    }

    .accordion-button.collapsed {
        background: #000000 !important;
        letter-spacing: 3.7px;
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 15.12px;
        font-weight: 600;
        color: rgb(255, 255, 255) !important;
    }
    .accordion-button:not(.collapsed) {
        background: #000000 !important;
        color: #ffffff !important;
        font-size: 15.12px;
        font-weight: 600;
    }
    button:focus:not(:focus-visible) {
        box-shadow: none !important;
    }
    .accordion-button:not(.collapsed) {
        box-shadow: none !important;
    }
    .accordion-button:after {
        background-image: url("/assets/plus-icon.webp") !important;
    }
    .accordion-button:not(.collapsed):after {
        background-image: url("/assets/cros-icon.webp") !important;
        --bs-accordion-btn-icon-transform: rotate(-90deg);
    }
    .fxtUOJ {
        display: block;
    }
    .iVMOIf {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        text-align: left;
    }
    .chnNEb {
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: left;
        color: rgb(255, 255, 255);
        opacity: 0.3;
    }
    .accordion-body {
        background: #000000;
    }
    .jRDYxF {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .bRqPOs {
        margin-top: 0px;
        margin-bottom: 20px;
        width: 180px;
    }
    .jCLEdc {
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 12.02px;
        font-weight: 600;
        line-height: 18.94px;
        letter-spacing: 0.4px;
        text-align: center;
        color: rgb(255, 255, 255);
        opacity: 0.8;
    }
    .ibJIKQ {
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 12.02px;
        font-weight: 500;
        line-height: 19.24px;
        letter-spacing: 0.12px;
        text-align: center;
        color: rgb(255, 255, 255);
        opacity: 0.3;
        margin-top: 25px;
    }
    .fPKvjU {
        width: 100%;
        text-align: center;
    }
    .fPKvjU > :first-child {
        border-right: 1px solid rgb(246, 246, 246);
    }
    .hWryAZ {
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 12.02px;
        font-weight: 500;
        line-height: 19.24px;
        letter-spacing: 0px;
        text-align: left;
        color: rgb(255, 255, 255);
        opacity: 0.45;
        padding: 0px 15px;
    }
    .fPKvjU > * {
        border-right: none;
    }
    .kFZBnj {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
        border: none;
        overflow: scroll hidden;
        padding-right: 30px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        scrollbar-width: none;
    }
    .ftBjIs {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        overflow-y: hidden;
        width: fit-content;
        padding-top: 20px;
    }
    .dtiSpc {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .ftBjIs > :first-child {
        margin-left: 0px;
    }
    .iwjAIH {
        width: 140px;
        height: 140px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        max-width: fit-content;
        object-fit: cover;
        object-position: center center;
    }
    .jHlvGJ {
        position: absolute;
        display: flex;
        z-index: 1;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgb(0, 0, 0);
        font-family: "Gilroy-Regular", sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: rgb(255, 255, 255);
        top: -11px;
        left: 25%;
        padding: 5px 10px;
        font-size: 7.486px;
        font-style: normal;
        font-weight: 700;
        line-height: 12.833px;
        letter-spacing: 2.139px;
    }
    .iWEyke {
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 11.772px;
        font-style: normal;
        font-weight: 500;
        line-height: 14.126px;
        letter-spacing: 2.943px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        -webkit-box-align: end;
        align-items: end;
        margin-top: 10px;
        text-transform: uppercase;
    }
    .gaXdtW {
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 10.595px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.538px;
        letter-spacing: 0.059px;
        text-align: center;
        color: rgba(255, 255, 255, 0.4);
        -webkit-box-align: end;
        align-items: end;
        margin-top: 2px;
    }
    .dtiSpc {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .dtiSpc {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .ftBjIs > * {
        margin-left: 20px;
    }
    .menu.show {
        padding: 150px 30px;
    }
    .hAZRxv {
        font-size: 13px;
    }
    .jLcmwh {
        width: 26px;
    }
    .hgQsWn {
        margin-left: 10px;
    }
    .fkxYSv {
        color: #ffffff;
        font-size: 14px;
    }
    .fkxYSv {
        padding: 0px 0px 0px 0px;
    }
    .mob_menuTab {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .accordion-button:not(.collapsed) svg {
        transform: rotate(-180deg);
    }
    .mob-menu .accordion-button:after {
        background-image: none !important;
    }
    .mob-menu .accordion-body {
        padding-top: 0;
    }
    .ioROUa {
        margin-top: 6px;
    }
    .menu {
        height: 100%;
    }
    .bTEqWy {
        padding: 125px 50px 0px 50px;
    }
    .bWosiJ {
        font-size: 56px;
        letter-spacing: -0.2px;
        line-height: 54px;
    }
    .jidhBR {
        width: 55px;
        height: 55px;
    }
    .eLnQK {
        font-size: 16px;
        letter-spacing: 0.3px;
        line-height: 32px;
    }
    .dv {
        display: none;
    }
    .dd-div {
        display: none;
    }
    .mob-download {
        display: block;
        text-align: center;
        padding: 70px 20px 50px 20px;
    }
    .dwn-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #000000;
        padding: 20px;
        margin: 0 auto;
        color: #ffffff;
        gap: 10px;
        font-family: "Gilroy-Regular", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .dbm {
        display: block;
    }
    .db-img {
        width: 35%;
    }
}
@media only screen and (max-width: 890px) {
    .eojfPz {
        padding: 64px 10px 0 29px;
    }
    .kkfHeq {
        padding: 50px 30px;
    }
    .mob-flip {
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .mob-video {
        display: block;
    }
    .web-video {
        display: none;
    }
    .hero-main {
        top: 0;
    }
    .head-1 {
        font-size: 45px;
        line-height: 46px;
    }
    .header_mian {
        padding: 20px;
    }
    .video-div {
        min-height: 700px;
        max-height: 700px;
        overflow: hidden;
    }
    .mt_main {
        width: 100%;
        padding: 40px 0 0 0;
    }
    .gGwbWp {
        padding: 60px 0px;
    }
    .czXzVu {
        padding: 0px 30px;
    }
    .fquCfu {
        font-size: 40px;
        line-height: 37px;
    }
    .hHnUWF {
        padding: 0px 30px;
    }
    .footer-mob {
        padding: 10px;
    }
    .kQQkFl {
        width: 100%;
    }
    .uyHJB {
        width: 100%;
        margin-top: 20px;
    }
    .bWosiJ {
        font-size: 40px;
        letter-spacing: -0.3px;
        line-height: 42px;
    }
    .eLnQK {
        font-size: 14px;
        letter-spacing: 0.1px;
        line-height: 26px;
    }
    .VzfKH {
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .faqs_main .accordion-button.collapsed {
        font-size: 15.12px !important;
        border-radius: 0 !important;
    }
    .faqs_main .accordion-button:not(.collapsed) {
        font-size: 15.12px !important;
        border-radius: 0 !important;
    }
    .ekFkoD {
        font-size: 16px;
    }
    .ccXGfa {
        font-size: 16px;
        line-height: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .db-img {
        width: 100%;
    }
}
@media only screen and (max-width: 475px) {
    .iVMOIf {
        display: flex;
        flex-flow: column wrap;
    }

    .menu.show {
        padding: 50px 15px;
    }
}
